a {
    color: white !important;
}
.close-container  {
    display: flex;
    flex-direction: row-reverse;
}
.a-close {
    position: absolute;
    top: 50%;
    right: -10px;
    background: black;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }