<div style="padding-right: 20px;">
  
<div class="close-container">
    <a class="a-close dot" (click)="onSidenavClose()"><mat-icon style="color:#136d85;transform: scale3d(1.5, 1.5, 1.5);">keyboard_arrow_left</mat-icon></a>
</div>
<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Products</span>   
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">About</span>
    </a>
</mat-nav-list>
  
</div>


