.custom-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
.custom-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-drawer {
    background-color: #136d85;
    color: rgba(255, 255, 255, 0.87);
}
.mat-list-base ,.mat-list-item {
    color: rgba(255, 255, 255, 0.87);
}