<mat-toolbar color="primary">
    <div *ngIf="mobileQuery.matches">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
        <mat-list-item>
            <a style="display: inline-flex;">
                <img src="../../../assets/waindesklogo.png" height="50" width="50">
                <h3 style="margin-left:10px; margin-top:10px !important;font-size: 25px;">Waindesk</h3>
            </a>
        </mat-list-item>
        <ng-container *ngIf="!mobileQuery.matches">
        <mat-nav-list class="list-horizontal" fxFlex fxLayout="row" fxLayoutAlign="end"  fxShow fxHide.lt-md>
            <mat-list-item>
            <a mat-menu-item routerLink="/home" mat-menu-item>Home</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-menu-item routerLink="/products" mat-menu-item>Products and Services</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-menu-item routerLink="/faqs" mat-menu-item>FAQs</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-menu-item routerLink="/about" mat-menu-item>About</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-menu-item routerLink="/contact" mat-menu-item>Contact</a>
        </mat-list-item>
        </mat-nav-list>
    </ng-container>
        <span class="example-spacer"></span>
    <mat-list-item><a mat-menu-item href="http://www.console.waindesk.in" mat-menu-item>Go to Console</a></mat-list-item>
</mat-toolbar>
