<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div>
                <img src="../../../assets/waindesklogoblack.png" height="200" width="200"><br>
                
            </div>
        </div>
    </div>
    <span style="color: #136d85;
    font-family: Arial, Helvetica, sans-serif; font-size: 50px;">Coming soon...</span>
</div>

